.kit-card {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgba(179, 155, 155, 0.742);
  border-radius: 10px;
  transition: box-shadow 0.3s, width 0.3s, height 0.3s, border 0.3s,
    border-radius 0.3s;
}

.kit-card:hover {
  box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.605);
  width: 320px;
  height: 383px;
  border: 5px solid black;
  border-radius: 25px;
}

.kit-card img {
  width: 100%;
  height: 72%;
}

.kit-card a {
  text-decoration: unset;
  color: black;
  font-family: "Tourney", cursive;
  text-align: center;
}
