/* TODO Add site wide styles */
html {
  height: 100%;
}

body {
  background-color: rgb(5, 5, 5);
  background-color: radial-gradient(
    rgba(5, 5, 5, 1) 0%,
    rgba(96, 179, 67, 1) 2%,
    rgba(17, 17, 17, 1) 41%
  );
  z-index: 0;
}
