/* TODO Add site wide styles */
html {
  /* height: 100%; */
}

body {
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(2,20,0,1) 66%, rgba(0,0,0,1) 100%);
  margin: 0;
}
