.login-form {
  box-sizing: border-box;
  width: 40%;
  
  margin: 10% auto;
  display: flex;
  flex-direction: column;
}

.errors-container {
  color: white;
  text-align: center;
}

.login-form__element {
  padding: 0.5rem;
  font-size: 14pt;
}

.login-form__element label {
  display: inline-block;
  font-family: "Tourney", cursive;
  color: white;
}

.login-form__element input {
  width: 70%;
  background-color: black;
  color: white;
  float: right;
  height: 20px;
}

button {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  padding: 5px;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: black;
  color: red;
}

.demo-button {
  margin-left: 5px;
}

@media (max-width: 950px) {
  .login-form__element label {
    display: none;
  }

  .login-form__element input {
    width: 75%;
    margin-left: 5px;
    float: left;
  }
}
