.welcome-text,
.subtitle {
  font-family: "Tourney", cursive;
  color: white;
}

.welcome-text {
  font-size: 40pt;
}

body {
  background-image: url("https://one-hit-wonders.s3.us-west-2.amazonaws.com/spd-sx_angle_stick_gal.jpeg");
  height: 100%;
  margin: 0;
  z-index: 1;
}
