.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 80px;
  font-family: "Tourney", cursive;
  font-size: 16pt;
}

.navbar__element a {
  color: white;
  text-decoration: unset;
}

.navbar img {
  width: 160px;
  height: 80px;
}

.hit-stuff p {
  font-size: 25pt;
  color: red;
}
