.page-contents {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.drum-machine-h1 {
  font-family: "Tourney", cursive;
  font-size: 40pt;
}

.sidebar {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: rgb(33, 35, 36);
}

.sidebar label {
  color: white;
}

.drum-selector {
  padding: 10px;
  justify-content: space-between;
}

.drum-machine-container {
  background-color: rgb(160, 15, 15);
}

.drum {
  font-size: 16pt;
  text-align: center;
  border: 3px solid black;
  width: 120px;
}

kbd {
  font-size: 40pt;
}

.drum {
  border-radius: 10px;
}

.black-keys-container {
  display: flex;
  flex-direction: row;
  /* border: 3px solid purple; */
  justify-content: c;
  /* width: 100vw; */
}

.black-keys-layer-one,
.black-keys-layer-two {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.776);
}

.black-keys-layer-one {
  margin-left: 4em;
}

.black-keys-layer-two {
  margin-left: 8em;
}

.white-keys-container {
  display: flex;
}

.white-keys {
  display: flex;
  flex-direction: row;
  background-color: white;
}
