.page-contents {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: rgb(145, 202, 252);
}

.drum {
  font-size: 16pt;
  text-align: center;
  border: 3px solid black;
  width: 120px;
}

kbd {
  font-size: 40pt;
}

.white-keys-container {
  display: flex;
}
